/* generic page */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    background-color: white;
    /* font */
}

.title {
    background-color: white;
    text-align: center;
    padding: 10px 0 15px 0;
    width: 90% ;
}

.float-left {
    float: left;
}

.clearfix {
    width: 100%;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}


.card {
    background-color: #0F0E17;
    width: calc(100% / 3);
    float: left;
}

h1 { 
    color: #E53170; 
    font-size: 50px;
}

h3, span { 
    color: white; 
}

/* generic elements */
.container {
    max-width: 1200px; /* solo per contenitore */
    margin: auto;
}

img {
    width: 80px;
}